/* inter-tight-100 - latin */
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/inter-tight-v1-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-tight-v1-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-tight-v1-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-tight-v1-latin-100.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-tight-v1-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-tight-v1-latin-100.svg#InterTight') format('svg'); /* Legacy iOS */
  }
  /* inter-tight-regular - latin */
  @font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-tight-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-tight-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-tight-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-tight-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-tight-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-tight-v1-latin-regular.svg#InterTight') format('svg'); /* Legacy iOS */
  }
  /* inter-tight-500 - latin */
  @font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-tight-v1-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-tight-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-tight-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-tight-v1-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-tight-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-tight-v1-latin-500.svg#InterTight') format('svg'); /* Legacy iOS */
  }
  /* inter-tight-900 - latin */
  @font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-tight-v1-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/inter-tight-v1-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/inter-tight-v1-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/inter-tight-v1-latin-900.woff') format('woff'), /* Modern Browsers */
         url('./fonts/inter-tight-v1-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/inter-tight-v1-latin-900.svg#InterTight') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'HWT Artz';
    font-style: normal;
    src: url('./fonts/HWT Artz W00 Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('.fonts/HWT Artz W00 Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/HWT Artz W00 Regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/HWT Artz W00 Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/HWT Artz W00 Regular.svg') format('svg'); /* Legacy iOS */
  }
  
html, body{
    font-family: "Inter Tight";
   height: 100%;

  }
  h1,
  h2,
  h3{
    font-family:"HWT Artz";
  } 
  
  h4{
    font-family:"HWT Artz";
    font-size: 15px;
  } 

  .header {
    min-height:90px; 
    height: 18%;
    text-align: center;
    background: #262626;
    color: white;
    font-size: 30px;
    /* flex:auto; */
  }
  .center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    /* padding-left: 15%; */
    padding-top: -1%;
    width: 55%;
    max-height: 100px;
  }
  .container{
    display: flex;

  }
  .scrollstrip{
    display: flex;
    background-color: #262626;
    padding-left: 5px;

  }
  .sctrollstrip.scroll {
    float: right;
  }      
  .scrollstrip.MenuSubtitle {
    float: left;
    background-color: #262626;
    padding-top: 50px;
    
   }
   .blackborder{
    border-style: solid;
    border-width: 2;
    border-color: black;
   }
   .sepborder{
    border-left: 2px solid #DEDEDE;

   }
   
   .btn{
    outline-color: #ED1546;
    color:#ED1546
   }
   .spaceright{
    padding-right: 10px ;
   }
   .spaceleft{
    padding-left: 10px ;
   }
   .location{
    float: center;
    color:#ED1546;
    padding-right: 5px;
    padding-top: 1.25%;
    font-size: 75%;
    text-decoration:underline ;
   }
   .hamburgermenu{
    padding-top:10px;
    padding-left:10px;
    float:left;
    max-height: 30%;
   }
   .editbutton{
    float:right;
    padding-right:1.5%;
    padding-top: 1.7%;
    width:7%;

   }

   .cart{
    width: 20%;
    height: 100%;
    float: left;
    margin:0%;
    background-color: #DEDEDE; 

    /* border-left: 2px solid black; */

   }
   .productlist{
    width: 77%;
    float:left

   }
   .card{
    margin: 20px;
    max-height: 150;
    display: inline-block;
    border-radius: 4px;
    min-width: 100px;
    background: #fff;
    width: 35%;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
  
   }
   
   .form-control:focus {
    border-color: #ED1546;
    box-shadow: 0 0 0 0.2rem #262626;
    background-color:#DEDEDE;
    color: #262626;
  } 
  .form-control{
    border-color: #ED1546;
    /* box-shadow: 0 0 0 0.2rem #262626; */
    background-color:#262626;
    color:white
  } 
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  .cartitem{
    width:100%;
    height:2%;
    color: black;
    padding-top: 6%;
    font-family: 'Inter Tight';
    font-weight: 500;
    float:left;
    font-size: medium;
  }
  .p{
    font-family: 'Inter Tight';
    font-size: 12px;
  }
  .flexitem{
    flex: 0 1 auto;

  }
  flexwrap{
    flex-wrap: wrap;
  }
.card :hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);  }

  /* @media only screen and (max-width: 834px) {
    .desktop-only {
      display: none;
      width: 0%;

    }
    .fill-page {
      width: 100%;
      border-right: none;
    
    }
    .conatinerdesktop{

    }
   
  } */


    /* Extra Small Devices, Phones */ 
    @media only screen and(max-width : 480px) {
      .notphone{
        display:none;
        width:0%;
      }
      .movebottom{
        position: absolute;
        bottom: 0;
      }
    }

    @media only screen and (min-width : 821px){
      .phoneonly{
        display:none;
        width:0px;
      }
    }

    
    @media only screen and (max-width : 820px) {
      .desktop-only-spec {
        display: none;
        width: 0%;
  
      }
      
   

    }
    



    /* Small Devices, Tablets */
    @media only screen and (min-width:481px)and (max-width : 820px) {
      .desktop-only {
        display: none;
        width: 0%;
  
      }
      .fill-page {
        width: 100%;
        border-right: none;
        display:flex;
        align-items: center;
        flex-wrap: wrap;
      
      }
      .showontablet{
        display: inline;
      }
   

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width :821px) {
      .notdesktop{
        display:none;
      }
  

    }

    
  